In [2]:
# Importing the data
import pandas as pd
import numpy as np
cutt_off_date = '2012-01-01' # year, month, day
df = pd.read_csv(r'C:\Users\IanCH\OneDrive\Documents\WF_Panda_Data.csv') # this creates a DataFrame
# I use ondrive to backup my files. I use multiple devices to access this file, safer than using Git
# Data Source: https://www.kaggle.com/datasets/varpit94/wells-fargo-stock-data-updated-till-30jun2021

In [7]:
df

,Date,Open,High,Low,Close,AdjClose,Volume
0,1972-06-01,0.000000,0.882813,0.880208,0.880208,0.152143,249600
1,1972-06-02,0.882813,0.890625,0.882813,0.882813,0.152593,172800
2,1972-06-05,0.882813,0.895833,0.880208,0.895833,0.154844,302400
3,1972-06-06,0.895833,0.911458,0.893229,0.895833,0.154844,196800
4,1972-06-07,0.895833,0.895833,0.888021,0.888021,0.153493,48000
...,...,...,...,...,...,...,...
12558,2022-03-18,50.849998,51.540001,50.040001,51.419998,51.419998,60949500
12559,2022-03-21,51.660000,51.799999,50.610001,51.139999,51.139999,23411500
12560,2022-03-22,52.410000,54.200001,52.299999,53.389999,53.389999,28625600
12561,2022-03-23,52.759998,53.049999,51.099998,51.119999,51.119999,27988700
12562,2022-03-24,51.709999,51.820000,50.910000,51.330002,51.330002,19665100

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12563 entries, 0 to 12562
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12563 non-null  object
 1   Open      12563 non-null  float64
 2   High      12563 non-null  float64
 3   Low       12563 non-null  float64
 4   Close     12563 non-null  float64
 5   AdjClose  12563 non-null  float64
 6   Volume    12563 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 687.2+ KB

In [3]:
#For iteration after creating the dictionary
# the range information can be found by typing df.index and using stop + 1 as the end range.
index_column = range(0,12564)

# Each of these are considered a series and have to be converted to a list for dictionary comprehension.
Date = df.Date.values.tolist()
Open = df.Open.values.tolist()
High = df.High.values.tolist()
Low = df.Low.values.tolist()
Close = df.Close.values.tolist()
Volume = df.Volume.values.tolist()

# Dictionary comprehension for practice. This code creates one big list with keys.
NewDict = {
    index_column: [Date, Open, High, Low, Close, Volume]
    for index_column, Date, Open, High, Low, Close, Volume in zip(
        index_column, Date, Open, High, Low, Close, Volume)
        }

# Outputting part of the dictionary to prevent Juypter Notebook from crashing
y = 1
while y < 15:
    print(NewDict[y][::])
    y +=1
print('---')

# Zip creates a tuple and dict makes the first value into the dictionary key.
# Decided not to add the index column so I coulde use the date as the keys and critiera. This makes iteration hard.
NewDict = dict((zip(df.Date, 
                    zip(df.Open, df.Close, 
                         zip(df.High, df.Low,df.AdjClose)))))


# Using dates as the key for a dicitonary with a lisit containing all values and adding those values using a for loop 
DatePreciseDict = {}
for keys, values in NewDict.items():
    if keys < '2012-01-01':
        continue
    else: 
        DatePreciseDict[keys] = values

x = 0
while x < 1:
    print({DatePreciseDict[keys][::]})
    x +=1
# Increasing the size of x would cause the same value to be printed multiple times.

['1972-06-02', 0.882813, 0.890625, 0.882813, 0.882813, 172800]
['1972-06-05', 0.882813, 0.895833, 0.880208, 0.895833, 302400]
['1972-06-06', 0.895833, 0.911458, 0.893229, 0.895833, 196800]
['1972-06-07', 0.895833, 0.895833, 0.888021, 0.888021, 48000]
['1972-06-08', 0.888021, 0.895833, 0.885417, 0.890625, 144000]
['1972-06-09', 0.890625, 0.895833, 0.885417, 0.890625, 43200]
['1972-06-12', 0.895833, 0.901042, 0.895833, 0.901042, 24000]
['1972-06-13', 0.898438, 0.898438, 0.885417, 0.885417, 76800]
['1972-06-14', 0.885417, 0.890625, 0.885417, 0.885417, 244800]
['1972-06-15', 0.890625, 0.893229, 0.890625, 0.893229, 206400]
['1972-06-16', 0.893229, 0.901042, 0.893229, 0.901042, 48000]
['1972-06-19', 0.895833, 0.895833, 0.893229, 0.893229, 91200]
['1972-06-20', 0.893229, 0.895833, 0.893229, 0.895833, 14400]
['1972-06-21', 0.895833, 0.895833, 0.893229, 0.893229, 48000]
---
{(51.709999, 51.330002, (51.82, 50.91, 51.330002))}

In [77]:
def Summarize_Values(listvalues):
    ''' 
    Takes in a list of numerical values and provides summary information.
    Args:
        listvalues (float): List of values for the summarization

    Returns:
        Std: Standard deviation
        Var: Variance
        Average: Sum of values / length
        Unique_values: Creates a set from the list.
    '''    
    Average = sum(listvalues)/len(listvalues)
    Arraylist = np.array(listvalues)
    Var = np.var(Arraylist)
    Std = np.sqrt(np.var(Arraylist))
    Unique_values = set(listvalues)
    Largerthanaverage = Arraylist > Average
    TrueCountVal = np.count_nonzero(Largerthanaverage)
    
    print(f'{TrueCountVal} value(s) are greater than the average')
    print(Unique_values)
    print('Average', 'Variance', 'Standard Deviation')
    return [Average, Var, Std, Unique_values]

DictOpenList = []
DictCloseList = []

for x,y in DatePreciseDict.items():
    DictOpenList.append(round((y[0]),0))

for x,y in DatePreciseDict.items():
    DictCloseList.append(round((y[1]),0))

Average, Var, Std, Unique_Values = Summarize_Values(DictOpenList)
print(Average, Var, Std)
print("-----")
Average1, Var1, Std1 , Unique_Values1 = Summarize_Values(DictCloseList)
print(Average, Var, Std)
print("-----")

print('Values present in both sets')
try:
    Difference = Unique_Values.intersection(Unique_Values1)
    print(Difference)
except NameError:
    pass

# The two list are different rounding to 0 made them very similar and the output more readable.

1551 value(s) are greater than the average
{21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0}
Average Variance Standard Deviation
46.186868686868685 91.04549967428756 9.541776547073797
-----
1548 value(s) are greater than the average
{21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0}
Average Variance Standard Deviation
46.186868686868685 91.04549967428756 9.541776547073797
-----
Values present in both sets
{21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0}

In [4]:
# Cleaning up un needed variablies.
del Date, Open, High, Low, Close, Volume


# Creating another series in the data frame
df['Difference_Open_Close'] = round((df['Close'] - df['Open']/df['Open']) * 100,2)
print(df['Difference_Open_Close'])
# alternative to round () is np.round(Formula,number_of_decmials_places)

0            NaN
1         -11.72
2         -10.42
3         -10.42
4         -11.20
          ...
12558    5042.00
12559    5014.00
12560    5239.00
12561    5012.00
12562    5033.00
Name: Difference_Open_Close, Length: 12563, dtype: float64